[submodule "skills/agent-skill-creator"]
	path = skills/agent-skill-creator
	url = git@github.com:FrancyJGLisboa/agent-skill-creator.git
[submodule "llamacpp/Qwen-Fixed-Chat-Templates"]
	path = llamacpp/Qwen-Fixed-Chat-Templates
	url = https://huggingface.co/froggeric/Qwen-Fixed-Chat-Templates
[submodule "skills/pixtang-image-upload-skill"]
	path = skills/pixtang-image-upload-skill
	url = ssh://git@192.168.1.3:2222/pix/pixtang-image-upload-skill.git
[submodule "skills/excalidraw-diagram-skill"]
	path = skills/excalidraw-diagram-skill
	url = git@github.com:pixb/excalidraw-diagram-skill.git
[submodule "skills/go-project-convertions-skill"]
	path = skills/go-project-convertions-skill
	url = git@github.com:pixb/go-project-conventions-skill.git
[submodule "skills/go-project-main-skill"]
	path = skills/go-project-main-skill
	url = git@github.com:pixb/go-project-main-skill.git
[submodule "skills/go-project-overview-skill"]
	path = skills/go-project-overview-skill
	url = git@github.com:pixb/go-project-overview-skill.git
[submodule "skills/go-project-proto-skill"]
	path = skills/go-project-proto-skill
	url = git@github.com:pixb/go-project-proto-skill.git
[submodule "skills/go-project-scripts-skill"]
	path = skills/go-project-scripts-skill
	url = git@github.com:pixb/go-project-scripts-skill.git
