[submodule "skills/agent-skill-creator"]
	path = skills/agent-skill-creator
	url = git@github.com:FrancyJGLisboa/agent-skill-creator.git
[submodule "llamacpp/Qwen-Fixed-Chat-Templates"]
	path = llamacpp/Qwen-Fixed-Chat-Templates
	url = https://huggingface.co/froggeric/Qwen-Fixed-Chat-Templates
[submodule "skills/pixtang-image-upload-skill"]
	path = skills/pixtang-image-upload-skill
	url = ssh://git@192.168.1.3:2222/pix/pixtang-image-upload-skill.git
[submodule "skills/excalidraw-diagram-skill"]
	path = skills/excalidraw-diagram-skill
	url = git@github.com:pixb/excalidraw-diagram-skill.git
[submodule "skills/go-project-convertions-skill"]
	path = skills/go-project-convertions-skill
	url = git@github.com:pixb/go-project-conventions-skill.git
[submodule "skills/go-project-main-skill"]
	path = skills/go-project-main-skill
	url = git@github.com:pixb/go-project-main-skill.git
[submodule "skills/go-project-overview-skill"]
	path = skills/go-project-overview-skill
	url = git@github.com:pixb/go-project-overview-skill.git
[submodule "skills/go-project-proto-skill"]
	path = skills/go-project-proto-skill
	url = git@github.com:pixb/go-project-proto-skill.git
[submodule "skills/go-project-scripts-skill"]
	path = skills/go-project-scripts-skill
	url = git@github.com:pixb/go-project-scripts-skill.git
[submodule "skills/go-project-server-skill"]
	path = skills/go-project-server-skill
	url = git@github.com:pixb/go-project-server-skill.git
[submodule "skills/go-project-store-skill"]
	path = skills/go-project-store-skill
	url = git@github.com:pixb/go-project-store-skill.git
[submodule "skills/json-canvas-skill"]
	path = skills/json-canvas-skill
	url = git@github.com:pixb/json-canvas-skill.git
[submodule "skills/mcp-builder-skill"]
	path = skills/mcp-builder-skill
	url = git@github.com:pixb/mcp-builder-skill.git
[submodule "skills/mermaid-visualizer-skill"]
	path = skills/mermaid-visualizer-skill
	url = git@github.com:pixb/mermaid-visualizer-skill.git
[submodule "skills/obsidian-bases-skill"]
	path = skills/obsidian-bases-skill
	url = git@github.com:pixb/obsidian-bases-skill.git
[submodule "skills/obsidian-canvas-creator-skill"]
	path = skills/obsidian-canvas-creator-skill
	url = git@github.com:pixb/obsidian-canvas-creator-skill.git
[submodule "skills/obsidian-markdown-skill"]
	path = skills/obsidian-markdown-skill
	url = git@github.com:pixb/obsidian-markdown-skill.git
[submodule "skills/pix-audio-index-tts-skill"]
	path = skills/pix-audio-index-tts-skill
	url = git@github.com:pixb/pix-audio-index-tts-skill.git
[submodule "skills/pix-cognitive-tutor-skill"]
	path = skills/pix-cognitive-tutor-skill
	url = git@github.com:pixb/pix-cognitive-tutor-skill.git
[submodule "skills/pix-develop-docs-skill"]
	path = skills/pix-develop-docs-skill
	url = git@github.com:pixb/pix-develop-docs-skill.git
